/* General styling for Password Generator */
.password-generator {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
  }
  
  .password-generator h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .password-display {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .password-display input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .password-display button {
    width: 15%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .password-display button:hover {
    background-color: #45a049;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #00b140;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #009927;
  }
  
  .strength-indicator {
    margin-top: 20px;
    color: #333;
  }
  
  .strength-indicator p {
    font-size: 18px;
    font-weight: 600;
  }
  
  /* Responsive for mobile devices */
  @media (max-width: 480px) {
    .password-generator {
      padding: 20px;
    }
  
    input, button {
      padding: 10px;
      font-size: 14px;
    }
  
    .strength-indicator p {
      font-size: 16px;
    }
  }